<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../public/stylesheets/test.css">
    <title>Profile - user.info</title>
    <body>
      <header class="profile">
        <img src="http://orig06.deviantart.net/f09a/f/2015/022/c/5/flat_coffee_cup_icon_by_dryopus-d8ex95w.png" 
        alt="starbucks_lover" style="float: right;" width="40px" height="40px">
        profile page for user - add user icon, header navigation, profile options
      </header>
      <p id="para1">Hello</p>
    </body>
  </head>
</html>