<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../public/stylesheets/test.css">
    <body>
    <div class="menu-bar">
  <ul>
    <li>
      <a href="example.html">Menu</a>
      <ul>
        <li>
          <a href="example.html">Link</a>
        </li>
        <li>
          <a class="menu-nav" href="example.html">Submenu</a>
          <ul>
            <li>
              <a class="menu-nav" href="example.html">Submenu</a>
              <ul>
                <li><a href="example.html">Link</a></li>
                <li><a href="example.html">Link</a></li>
                <li><a href="example.html">Link</a></li>
                <li><a href="example.html">Link</a></li>
              </ul>
            </li>
            <li><a href="example.html">Link</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

                    <div class="animated_div">TEST</div>
                    
                    <div class="animated_donut"><img src="https://d13yacurqjgara.cloudfront.net/users/309575/screenshots/2024615/donut_1x.png"></div>


</body>
</head>
</html>