<!doctype html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <title> Coffeed - Welcome</title>
        <body background="http://cdn.paper4pc.com/images/coffee-beans-wallpaper-21.jpg" alt="Banner Image">
            <header style="color: antiquewhite;">
                    <form style="float: right; margin-right: 1.0em; margin-top: 1.0em;">Email Password:<br><input>&nbsp;&nbsp;&nbsp;<input>&nbsp;&nbsp;&nbsp;
                    <button type="button" style="border-style:solid; background: saddlebrown;">Brew</button>
                    </form>
                <h1 style="font-family: 'Pacifico', cursive;">Coffeed</h1>
                <h2 style="text-indent: 1.0em;">
                    <i>More buzz than BuzzFeed...</i>
                </h2>
            </header>
            <p>
                <img style="margin-left: 2.0em; border-style: inset; border-color: tan; border-width: 0.5em;" src="http://45.media.tumblr.com/46e38e43752624bc57e1565f8c43ad40/tumblr_nbykh5Oui61sha1a6o1_1280.gif" width="480" height="317">
            </p>
            <footer style="color: antiquewhite; position:absolute; bottom:1.0em; text-indent:1.0em;">
                <ul style="list-style-type: none; margin:0; padding:0;">
                    <li style="float: left;">About Us</li>
                    <li style="float: left;">Privacy</li>
                    <li style="float: left;">Terms</li>
                    <li style="float: left;">Careers</li>
                    <li style="float: left;">Contact Us</li>
                    <li style="float: left;">Language</li>
                </ul>
            </footer>
            <footer style="color: antiquewhite; position:absolute; right:1.0em; bottom:1.0em; text-indent:1.0em;">
                <ul style="list-style-type: none; margin:0; padding:0;">
                    <li style="float: right;">&copy; Copyright 2016 Coffeed <img src="/stylesheets/Coffee.ico" style="width:16px;height:16px;"></img></li>
                </ul>
            </footer>
        </body>
    </head>
</html>

<!--
<p align="right" style="margin-right: 1.0em;">
GURRRL, you better sign up!
<form style="float: right; margin-right: 1.0em; color: saddlebrown;">
    <fieldset style="background: antiquewhite;">
    First name:<br>
    <br>
    <input type="text" name="firstname"><br>
    <br>
    Last name:<br>
    <br>
    <input type="text" name="lastname">
    <br>
    <br>
    <button type="button" style="border-style:solid; background: saddlebrown; color:antiquewhite;">Start Brewing</button>
    </fieldset>
</form>
</p>
-->

